@{
    ViewBag.Title = "About";
}

@section navigations {
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
        </ul>
    </nav>
}

<h2>@ViewBag.Title</h2>

<article id="about">
    <p>
        This vocabulary building system is based on the Ebbinghaus forgetting curve and
        allows you to memorize English words and sentences at full efficiency.
    </p>

</article>
