@{
    ViewBag.Title = "About";
}

@section navigations {
    <ul class="nav navbar-nav">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="divider_vertical"></li>
        <li><a href="@Url.Action("About", "Home")">About</a></li>
    </ul>
}

<h2>@ViewBag.Title</h2>

<article id="about">
    <p>
        This vocabulary building system is based on the Ebbinghaus forgetting curve and
        allows you to memorize English words and sentences at full efficiency.
    </p>


    <h3>How to use</h3>
    <h4>Review</h4>
    <ol>
        <li>Create a card</li>
        <li>Review the card at Lv.1 (6 hours later after creating the card)</li>
        <li>Review the card at Lv.2 (12 hours later after passing Lv.1)</li>
        <li>Review the card at Lv.3 (3 days later after passing Lv.2)</li>
        <li>Reiew the card at Lv.4 (7 days later after passing Lv.3)</li>
        <li>Review the card at Lv.5 (14 days later after passing Lv.4)</li>
        <li>Congratulations! You have memorized the card.</li>
    </ol>
    If you are not sure whether you remember the card,
    push "Almost" button to decrease the review level.

    <h4>Search</h4>
    <h5>And Search</h5>
    <div class="search">keyword1 keyword2</div>

    <h5>Or Search</h5>
    <div class="search">keyword1 or keyword2</div>

    <h5>Or-And Search</h5>
    <div class="search">(keyword1 or keyword2) keyword3</div>

    <h5>Complete Match Search (case sensitive)</h5>
    <div class="search">"KeyWord1"</div>

    <h5>Wild Card Search (case sensitive)</h5>
    <div class="search">"Key*d" or "key*" or "*word"</div>
</article>
