html{
    background-color: #fff;
}

body {
    background-color: #eee;
}

/* main layout
----------------------------------------------------------*/
.content_wrapper {
    margin: 0 auto;
    max-width: 960px;
}

header{
    overflow: hidden;
    background-color: #eef;
}

#layout_body{
    clear: both;
    overflow: auto;
    background-color: #fee;
}

    .main_content {
        padding: 20px 10px;
    }

footer{
    clear: both;
    overflow:hidden;
    background-color: #eef;
}

    footer .content_wrapper small {
        display: block;
        margin: 10px;
        text-align: center;
        background-color: #efe;
    }


/* site title
----------------------------------------------------------*/
.site_title {
    float: left;
    margin: 10px;
    font-size: 30px;
    line-height: 32px;
    background-color: #efe;
}

.site_title a, .site_title a:hover, .site_title a:active {
    background: none;
    color: #448;
    outline: none;
    text-decoration: none;
}

/* menu
----------------------------------------------------------*/
nav {
    float: left;
    margin: 15px 10px;
    font-size: 20px;
    background-color: #ffe;
}

    nav ul#menu {
        margin: 0;
        padding: 0;
    }

        nav ul#menu li {
            display: inline;
            list-style: none;
            padding-left: 15px;
        }

        ul#menu li a {
            background: none;
            color: #448;
            text-decoration: none;
        }

/* login
----------------------------------------------------------*/
#login {
    float: right;
    margin: 15px 10px;
    text-align: right;
    background-color: #eff;
}
    #login ul{
        margin: 0;
        padding: 0;
    }

        #login ul li {
            display: inline;
            list-style: none;
        }

/* table
----------------------------------------------------------*/
th, td {
    border: 1px solid gray;
    padding: 5px;
}

/* question
----------------------------------------------------------*/
section.question{
    margin: 0;
    padding: 10px;
    overflow: hidden;
    min-height: 100px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;

    background-color: #fcfcfc;
}

section.question:nth-of-type(1) {
    border-top: 1px solid gray;
}

section.question .left_side{
    float: left;
    width: auto;

    background-color: #f0fff0;
}

section.question .right_side{
    float: right;
    width: 135px;

    background-color: #f0f0ff;
}

.question .word{
    margin-bottom: 10px;
    font-size: 20px;

    background-color: #fff0f0;
}

.question .meaning{
    margin-bottom: 10px;
    font-size: 18px;

    background-color: #ffe;
}

.question .note{
    font-size: 16px;

    background-color: #eff;
}

.question .registered_date{
    margin-bottom: 5px;
    text-align: right;

    background-color: #ffe;
}

.question .edit_delete{
    text-align: right;

    background-color: #fee;
}

/* paging
----------------------------------------------------------*/
.paging{
    clear: both;
    margin: 20px 0 0;
    text-align: center;
}
    .paging a {
        text-decoration: none;
    }
    .paging p{
        margin: 5px 0 0;
    }


/* Login Page, Register Page, Manage Page
----------------------------------------------------------*/
#login_form,
#register_form,
#change_password_form {
    max-width: 480px;
}
    #login_form .field-validation-error {
        margin-left: 5px;
        color: red;
    }

    #login_form .validation-summary-errors ul li,
    #register_form .validation-summary-errors ul li,
    #change_password_form .validation-summary-errors ul li {
        margin: 10px 0;
        color: red;
    }

    #login_form fieldset,
    #login_form fieldset ul,
    #register_form fieldset,
    #register_form fieldset ul,
    #change_password_form fieldset,
    #change_password_form fieldset ul {
        margin: 0;
        padding: 10px;
    }

    #login_form fieldset ul li,
    #register_form fieldset ul li,
    #change_password_form fieldset ul li {
        margin: 0 0 15px;
        list-style:none;
    }

    #login_form fieldset .submit_button,
    #register_form fieldset .submit_button,
    #change_password_form fieldset .submit_button {
        padding: 0 10px 0 0;
        text-align: right;
    }

    #login_form .register_link {
        margin: 20px 20px 0;
    }

/* Home/Index
----------------------------------------------------------*/
.main_content .create_link {
    margin: 10px 0;
}
    .main_content .create_link a {
        text-decoration: none;
    }


/* Mobile Styles
----------------------------------------------------------*/
@media only screen and (max-width: 720px) {
    nav {
        clear:both;
        margin: 0 15px 10px;
    }
}
