@{
    ViewBag.Title = "Function";
}

<h2>Function</h2>

@section navigations {
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Function", "Index", "Function")</li>
            <li>@Html.ActionLink("Load", "Load", "Function")</li>
            <li>@Html.ActionLink("Save", "Save", "Function")</li>
        </ul>
    </nav>
}
