@{
    ViewBag.Title = "Save";
}

@section navigations {
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Function", "Index", "Function")</li>
            <li>@Html.ActionLink("Save", "Save", "Function")</li>
        </ul>
    </nav>
}

<h2>Save</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <p>
        <input id="sbmSave" type="submit" value="Save" />
    </p>
}
